body {
  text-align: center;
  font-weight: 600;
  margin: 1rem;
}
#app {
  display: flex;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

#card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;  
}

#filter-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

#form-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

form {
  display: flex;
  width: 100%;
  margin: 0 1%;
}

.btn {
  width: 150px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-weight: 600px;
}

.btn-danger {
  background-color: rgb(192, 63, 63);
  color: white;
  width: 100%;
  border: none;
  font-weight: 600;
}

.card {
  padding: 10px;
  box-shadow: 20px 20px 17px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba(12, 12, 12, 0.151);
  margin: 1rem;
  flex-basis: 24%;
}

.card-body {
  padding: 0;
  background-color: white;
}

.card-footer{
  text-align: center;
  background-color: white;
}

.card-header {
  background-color: white;
}

.card-img, .card-img-top {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;

}

.form-btn {
  width: 110px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  background-color: rgb(65, 91, 238);
  color: white;
  font-weight: 600;
  
}

.submit {
  
  align-self: end;
  font-weight: 600;
  height: 38px;
}

.form-control {
  display: inline;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#form-btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

#close-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
